// variable
$bg-button : #f19372;
$color-button: #182f41;

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    & > button{
        margin: 1rem;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        font-weight: 900;
        font-size: 1.5rem;
        background-color: $bg-button;
        color: $color-button;
        cursor: pointer;
        transition: 0.5s;
        &:hover{
            transform: scale(1.2);
            transition: 0.5s;
        }
    }
    // a{
    //     margin: 1rem;
    //     padding: 0.5rem 1.5rem;
    //     border-radius: 0.5rem;
    //     border: none;
    //     outline: none;
    //     font-weight: 900;
    //     font-size: 1.5rem;
    //     background-color: $bg-button;
    //     color: $color-button;
    //     cursor: pointer;
    //     transition: 0.5s;
    //     text-decoration: none;
    //     &:hover{
    //         transform: scale(1.2);
    //         transition: 0.5s;
    //     }
    // }
}